*
{
    background-color:black;
    color:white;
}

p
{
    border: 1px solid white;
}

.connexion
{
    font-family:Courier, sans-serif;
    font-weight:bold;
    color:#00A000;
}

.deconnexion
{
    font-family:Courier, sans-serif;
    font-weight:bold;
    color:#A00000;
}

.information
{
    color:gray;
}

.sollicitation
{
    color:orange;
}

.accepte
{
    color:#00A000;
}

.refuse
{
    color:#A00000;
}

.joueur
{
    text-decoration:underline;
}

.prise
{
    font-style:italic;
}

.atout
{
    color:#00FFFF;
}

.pique
{
    color:#4040FF;
}

.trefle
{
    color:#80FF00;
}

.carreau
{
    color:#FF0000;
}

.coeur
{
    color:#FF0080;
}