*
{
    background-color:black;
}

.connexion
{
    font-family:Courier, sans-serif;
    font-weight:bold;
    color:#00A000;
}

.deconnexion
{
    font-family:Courier, sans-serif;
    font-weight:bold;
    color:A00000;
}

.numero
{
    color:white;
}