*
{
    background-color:black;
    color:white;
}

.connexion
{
    font-family:Courier, sans-serif;
    font-weight:bold;
    color:#00A000;
}

.deconnexion
{
    font-family:Courier, sans-serif;
    font-weight:bold;
    color:#A00000;
}

.numero
{
    color:gray;
}

.changement_jeu
{
    color:yellow;
}

.atout
{
    color:#00FFFF;
}

.pique
{
    color:#4040FF;
}

.trefle
{
    color:#80FF00;
}

.carreau
{
    color:#FF0000;
}

.coeur
{
    color:#FF0080;
}

.erreur
{
    color:#FF0000;
    font_weight:bold;
}